@font-face {
  font-family: calculator;
  src: url(./loopy/ComputoMonospace.ttf);
}
@font-face {
  font-family: calcscreen;
  src: url(./loopy/LcdSolid.ttf);
}
body {
  background-color: #8ab17d;
}
body button {
  outline: none;
  -webkit-text-size-adjust: 100%
}

#header h1 {
  font-family: calculator;
  color: #101d22;
  text-align: center;
  margin-top: 8vh;
  width: 100%;
  font-size: 45px;
}
#calcWrapper{
  width: 100%;
}
#calcBody {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  background-color: #264653;
  min-width: 355px;
  max-width: 355px;
  height: 520px;
  border-radius: 3px;
}
#calcScreen {
  background-color: rgb(193, 207, 193);
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 335px;
  border-radius: 1vh;
  height: 90px;
  font-family: calcscreen;
  font-size: 59px;
  border: 5px solid #101d22;
}
#calcScreen div {
  margin-top: 20px;
  text-align: end;
  margin-right: 5px;
  color: #101d22;
}
#btnContainer {
  border: 5px #101d22 solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5vh;
  border-radius: 1vh;
  width: 335px;
  height: 397px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.button {
  display: block;
  width: 80px;
  margin: 0 auto;

  
  height: 75px;
  border: #101d22 2px solid;
  border-radius: 10px;
  font-family: monospace;
  font-size: 50px;
  color: white;
  outline: none;

  -webkit-appearance: none;

  -webkit-border-radius: none;
}
.btnRow {
  display: flex;
  padding: none;
}
.num {
  background-color: #2a9d8f;
  text-align: center;
  padding: none;
}
.operator {
  background-color: #e76f51;
  text-align: center;
  padding: none;
}
#period {
  background-color: #2a9d8f;
  padding: none;
  
  
}
#clear {
  background-color: #efb366;
  font-size: 40px;
  text-align: center;
  padding: none;
  
}
#zero {
  width: 162px;
  text-align: center;
}

.percent {
  background-color: #83d9f3;
  text-align: center;
  padding: none;
  
}
.negPos {
  background-color: #83d9f3;
  font-size: 20px;
  text-align: center;
 
}

#equals {
  background-color: #e76f51;
  text-align: center;
  padding: none;
  
}
.footer {
  font-family: calculator;
  position: absolute;

  justify-content: space-between;
  bottom: 0;
height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}


#logo {
  width: 5vh;
  padding-right: 4vh;
}
