@font-face {
  font-family: calculator;
  src: url(./loopy/ComputoMonospace.ttf);
}
@font-face {
  font-family: calcscreen;
  src: url(./loopy/LcdSolid.ttf);
}
body {
  background-color: #8ab17d;
}
body button {
  outline: none;
}

#header h1 {
  font-family: calculator;
  color: #101d22;
  text-align: center;
  margin-top: 8vh;
  width: 100%;
  font-size: 6vh;
}
#calcBody {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  background-color: #264653;
  width: 45vh;
  height: 65vh;
  border-radius: 1vh;
}
#calcScreen {
  background-color: rgb(193, 207, 193);
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5vh;
  width: 42vh;
  border-radius: 1vh;
  height: 12vh;
  font-family: calcscreen;
  font-size: 7.5vh;
  border: 0.67vh solid #101d22;
}
#calcScreen div {
  margin-top: 2.55vh;
  text-align: end;
  margin-right: 0.5vh;
  color: #101d22;
}
#btnContainer {
  border: 0.67vh #101d22 solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5vh;
  border-radius: 1vh;
  width: 42vh;
  height: 47.5vh;
  display: flex;
  flex-direction: column;
}
.button {
  display: block;
  width: 11vh;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
  margin-top: 0.5vh;

  margin-bottom: 0.5vh;
  height: 8.5vh;
  border: #101d22 0.35vh solid;
  border-radius: 1vh;
  font-family: monospace;
  font-size: 6vh;
  color: white;
  outline: none;
  
  -webkit-appearance: none;

  -webkit-border-radius: none;
}
.btnRow {
  display: flex;
  padding: none;
  
}
.num {
  background-color: #2a9d8f;
  text-align: center;
  padding: none;
}
.operator {
  background-color: #e76f51;
  text-align: center;
  padding: none;
}
#period {
  background-color: #2a9d8f;
  padding: none;
  width: 10vh;
}
#clear {
  background-color: #efb366;
  font-size: 5vh;
  text-align: center;
  padding: none;
}
#zero {
  width: 22vh;
  text-align: center;
}

.percent {
  background-color: #83d9f3;
  text-align: center;
  padding: none;
  width: 10vh;
}
.negPos {
  background-color: #83d9f3;
  font-size: 3vh;
  text-align: center;
  width: 10vh;
}

#equals {
  background-color: #e76f51;
  text-align: center;
  padding: none;
  width: 10vh;
}
